{% extends "layout.html" %}

{% block title %}
    Get quote
{% endblock %}

{% block main %}

  {% if stock %}

    <p>A share of {{stock["name"]}} ({{stock["symbol"]}}) costs ${{stock["price"]}}.</p>

  {% else %}

    <h1 class="mb-4">Get a quote:</h1>

    <form action="/quote" method="post">
        <div class="form-group d-flex justify-content-center">
            <input autocomplete="off" autofocus class="form-control w-25" name="symbol" placeholder="symbol" type="text">
        </div>

        <button id ="quote-btn" class="btn btn-primary" type="submit">Quote</button>
    </form>

  {% endif %}

{% endblock %}
